body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: italic;
  font-stretch: ultra-expanded;
  text-transform: uppercase;
  text-decoration: none;
  word-spacing: 10px;
  letter-spacing: 10px;
  text-align: center;
}

p {
  line-height: 1.5em;
  text-align: justify;
  text-indent: 50px;
  text-shadow: 2px 5px 1px gray;
}
p::first-letter {
  font-size: 2em;
}
a:link {
  color: blue;
}
a:visited {
  color: rgb(19, 130, 235);
}
a:active{
  color: brown;
}
a:hover {
  color: pink;
}
a:focus{
    color:rgb(11, 238, 11)
}  /*same....*/
p[class]{
  color: orange;
}
p[class~="myclass"]{
  color:yellowgreen
}
p[class^='m']{
  color:red
}
p[class$='s']{
  color:pink
}
p[class*='ss']{
  color:blue
}
