h1{
    border: 5px solid rgb(224, 137, 22);
} 
li{
    display: inline;
    margin: 10px;
}
 
p{
    
    border: 2px solid black;
    width: 400px;
    overflow: scroll;
    border-style: solid;
    border-top-style:dashed;
    border-color: blueviolet;
    border-radius: 40px  40px;
    -moz-border-radious:40px 50px;
    -webkit-border-radious:40px  40px;
    border-width: 7px 4px 6px 8px;
    padding: 10px;
    margin: 40px auto 30px auto;
    box-shadow: -10px 10px 10px 10px rgb(10, 218, 218);
    border: 75px solid red;
    border-image:url("images.jpg") 30 stretch

}
.sample{
  border: 4px solid black;
  max-width: 1500px;
  min-width: 700px;
  min-height: 100px;
}
p:first-letter{
  font-size:2em;

}