*{
    color: rgb(153, 165, 42);
}
h1,h4{
    color: rgb(43, 159, 226);
}
#softdev{
    color: aqua;

}
.greentext{

    color: green;

}
div>p{
    color: rgb(245, 220, 237);
}
div a{
    color: green;
}
h1~h4{
    color: red !important;
}
h1+h2{
    color: red;
}